# Makefile.win32.dist for SSL
# 
# To be placed in obj directory. 
#

CC = cl

BINDIR = %BINDIR%

SSLEAY_LIBS = \
	$(BINDIR)\ssleay32.lib \
	$(BINDIR)\libeay32.lib 

WINSOCK_LIB = ws2_32.lib 

SSL_BASE_OBJS = esock.obj debuglog.obj esock_osio.obj esock_utils.obj \
	        esock_posix_str.obj

SSLEAY_OBJS = esock_ssleay.obj

$(BINDIR)\ssl_esock.exe:	$(SSL_BASE_OBJS) $(SSLEAY_OBJS)
	$(CC) /nologo  $(SSL_BASE_OBJS) $(SSLEAY_OBJS) $(SSLEAY_LIBS) \
		$(WINSOCK_LIB) /Fe$(BINDIR)\ssl_esock.exe



