{window4,standard,window,none,[],[{bg,{217,217,217}},{data,[]},{height,300},{iconbitmap,[]},{iconmask,[]},{iconname,[68,101,102,97,117,108,116]},{map,true},{title,[68,101,102,97,117,108,116]},{width,300},{x,0},{y,0}],[{buttonpress,false},{buttonrelease,false},{configure,false},{destroy,true},{enter,false},{keypress,false},{keyrelease,false},{leave,false},{motion,false}],[{menubar4,menu,menubar,none,[],[{bg,{217,217,217}},{enable,true},{height,25}],[],[{menubutton7,menu,menubutton,none,[],[{bg,{217,217,217}},{enable,true},{fg,black},{label,{text,[68,101,102,97,117,108,116]}},{underline,-1}],[],[{menu3,menu,menu,none,[],[{bg,{217,217,217}}],[],[]}]}]}]}. 
